@import "geomanist.less";

@dv-c-background: #e5e5f0;
@dv-c-body: rgb(62, 68, 71);
@dv-c-disabled: #35383A;
@dv-c-idle: #3D4B54;
@dv-c-accent-1: #3B6E96;
@dv-c-accent-2: #5AA9E5;
@dv-c-foreground: rgb(79, 120, 148);
@dv-c-accent-3: #4488AA;
@dv-c-red: #cd2020;
@dv-c-green: #20cd40;


@dv-f-lato: Lato, "Segoe UI", Tahoma, Verdana, sans-serif;
@dv-f-geomanist: Geomanist, "Segoe UI", Tahoma, Verdana, sans-serif;
